/** importing styles **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


* {
 padding: 0;
 margin: 0;
}

body {
 width: 100vw;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 font-family: 'Poppins';
 font-weight: 280;
 background-color: var(--bg-color);
 transition: 400ms;
}

a,
a:hover,
a:visited {
 text-decoration: none;
}

svg {
 stroke: var(--text-color);
}

header,nav {
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
}

nav > ul {
 width: 94vw;
 height: 5rem;
 position: fixed;
 top: .2rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 color: var(--text-color);
 padding: 0 1.8rem; 
 margin: .5rem 0 1rem 0;
 list-style: none;
 z-index: 10;
}

nav > ul > li {
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: var(--box-radius);
}

nav > ul > li:first-of-type {
 height: auto;
 justify-content: space-evenly;
 padding-right: .6rem;
 background: rgba(25, 25, 25, 0.08);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
}

nav > ul > li:first-of-type > h1 {
 font-weight: 650;
}

.nav-dp {
 width: 3.2rem;
 height: 3.2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background-color: var(--shade);
 border-radius: var(--box-radius);
 margin-right: .8rem;
}

.switch-toggle {
 width: 3rem;
 height: 3rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background: rgba(25, 25,  25, 0.08);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border: none;
 border-radius: var(--box-radius);
}

.switch-toggle > div {
 width: 1.4rem;
 height: 1.4rem;
 background-color: var(--text-color);
 border-radius: 50%;
}

main {
 width: 100vw;
 display: flex;
 flex-direction: column;
 align-items: center;
}

section {
 width: 88%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 color: var(--text-color);
 padding: 1rem 6%;
 scroll-margin: 2rem 0;
 margin: 2.5rem 0;
}

.section-headtag {
 height: 2rem;
 align-self: flex-start;
 display: flex;
 align-items: center;
 justify-content: center;
 margin: 1.5rem 0 .3rem 0;
}
.section-headtag > h3 {
 font-weight: 300;
 margin-right: .6rem;
}

.section-headtitle {
 align-self: flex-start;
 font-size: 2.2rem;
 font-weight: 360;
 margin-bottom: 1.5rem;
}

.section-headtitle + p {
 align-self: flex-start;
 margin-bottom: 1.8rem;
}

.hero-section {
 min-height: 90vh;
 align-items: flex-start;
 justify-content: center;
 background-color: var(--bg-color);
 background-image: var(--hero-image);
 margin-top: 0;
}

.hero-section > p:first-of-type {
 margin-top: 1rem;
}
.hero-section > h1 {
 font-size: 3.4rem;
 font-weight: 340;
 line-height: 3.8rem;
 margin: 4.5rem 0 3rem 0;
}

.hero-xlink {
 color: var(--text-color);
 border-bottom: 0.1rem double var(--text-color);
 margin-bottom: .4rem;
}
.hero-xlink span {
 font-size: 1.4rem;
 margin-left: .5rem;
}

.hero-section > p:last-of-type {
 display: flex;
 align-items: center;
 justify-content: center;
}
.hero-section > p:last-of-type svg {
 margin: .4rem 0 0 .8rem;
}

.movingtags-outer-wrapper {
  width: 100%;
  height: 4rem;
  overflow: hidden;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--shade);
  margin-top: -1.5rem;
}

.inner-wrapper {
  height: 100%;
  display: flex;
  align-items: center;
  gap: 20px;
  animation: marquee-animation 18s linear infinite;
  padding: 0 1rem;
  border-radius: 3rem;
}

.inner-wrapper:hover {
 animation-play-state: paused;
}

.inner-wrapper h2 {
  margin: 0; 
  white-space: nowrap; 
  font-size: 1.5rem;
  color: var(--text-color);
}


.about-section-container {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2rem;
  margin-top: 2rem;
}

.about-section-container > div {
  width: 95%;
  height: 26rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.about-section-container > div:first-of-type {
  display: flex;
  align-items: center;
  justify-content: center;
  object-fit: cover;
  background-color: var(--shade);
  border-radius: var(--box-radius);
  margin-bottom: 2rem;
  animation: dim 1s linear infinite;
}
.about-section-container > div:first-of-type > img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: var(--box-radius);
}

.about-section-container > div:last-of-type > p {
  margin-top: 1rem;
}


.services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2.4rem 4rem;
  margin-top: 2rem;
}

.services-container > div {
  width: 16rem;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 2rem;
  background-color: var(--shade);
  border: 0.2rem double var(--shade);
  border-radius: var(--box-radius);
}

.services-container > div > h2 {
 align-self: flex-start;
 font-size: 2rem;
 font-weight: 320;
 padding-bottom: .5rem;
 margin-bottom: 1.5rem;
}


.projects-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  margin-top: 2rem;
}

.project-box {
  width: 100%;
  min-height: 45rem;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 2rem 0;
  background-color: var(--shade);
  border-radius: var(--box-radius);
}

.project-header {
  width: 90%;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 1rem; 
}

.project-details {
 width: 100%;
 height: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
 margin-top: .4rem;
}

.project-details .project-image {
 width: 98.5%;
 height: 45%;
 display: flex;
 align-items: flex-end;
 justify-content: center;
 object-fit: cover;
 background-color: var(--bg-color);
 border: 0.1rem solid var(--shade);
}
.project-image > img {
 width: 100%;
 height: 95%;
}

.project-details .project-info {
 width: 90%;
 height: 55%;
 padding: 0 5%
}
.project-info > h1 {
 font-size: 2rem;
 margin-bottom: 1rem;
}
.project-info > p {
 font-size: .95rem;
}

.project-stacks {
 width: 100%;
 min-height: 2.5rem;
 height: auto;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 gap: .6rem;
 margin: 1.5rem 0;
}

.project-stacks .stack {
 width: auto;
 padding: .3rem 1rem;
 color: var(--text-color);
 font-size: .8rem;
 background-color: var(--bg-color);
 border-radius: var(--box-radius);
 transition: 300ms;
}
.project-stacks .stack:hover {
 transform: scale(1.1);
}

.preview-btn {
 width: 100%;
 height: 2rem;
 display: flex;
 align-items: center;
 color: var(--text-color);
 font-size: .9rem;
 gap: .5rem;
 border-radius: var(--box-radius);
}
.preview-btn > span:first-of-type {
  font-size: 1.2rem;
}
.preview-btn > span:last-of-type {
  margin-top: .3rem;
}



.resume-tags {
 align-self: flex-start;
 font-weight: 600;
 margin-bottom: 2rem;
}

.tools-container {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-evenly;
 gap: 2rem;
}

.tools-container > div {
 width: 8rem;
 height: 8rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 border: 0.1rem solid var(--shade);
 border-radius: var(--box-radius);
 transition: 200ms;
}
.tools-container > div:hover {
 transform: scale(0.9);
}

.tools-container > div img {
 width: 55%;
 height: 55%;
 border-radius: var(--box-radius);
}
.tools-container > div p {
 font-size: .8rem;
}



.contacts-container {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
 margin-top: 1rem;
}

.contact-div {
 width: 90%;
 height: 4rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 1rem;
 padding: 0 5%;
 border: 0.1rem solid var(--shade);
 border-radius: var(--box-radius);
}






@media (min-width: 726px) {
  .about-section-container {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
    gap: 2rem;
  }
  
  .about-section-container > div {
    width: 50%;
  }
  .about-section-container > div:last-of-type > p {
    margin-bottom: 1rem;
  }
  
  .project-box {
   min-height: 26rem;
   height: 26rem;
  }
  
  .project-details {
    height: 100%;
    flex-direction: row;
  }
  .project-details > .project-image,
  .project-details > .project-info {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .tools-container > div {
   width: 10rem;
   height: 10rem;
  }
  
  .contacts-container {
   flex-direction: row;
   flex-wrap: wrap;
  }
  .contacts-container > div {
   width: 45%;
  }
}