/** importing fonts  **/
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@100;200;300..700&display=swap');
 
 
* {
 padding: 0;
 margin: 0;
}

html {
 scroll-behavior: smooth;
}

body {
 width: 100vw;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 font-family: 'Poppins';
 font-weight: 290;
 background-color: var(--bg-color);
 background-image: var(--bg-color);
 transition: 400ms;
}

a,
a:hover,
a:visited {
 text-decoration: none;
}

p {
 font-size: .96rem;
}

svg {
 stroke: var(--text-color);
}

h1,
h2,
h3,
h4,
h5,
h6 {
 font-family: 'Fredoka';
}

header,nav {
 width: 100vw;
 display: flex;
 align-items: center;
 justify-content: center;
}

nav > ul {
 width: 84vw;
 height: 4rem;
 position: fixed;
 top: .4rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 color: var(--text-color);
 padding: 0 .5rem;
 background-color: rgba(50, 50, 50, 0.1);
 backdrop-filter: blur(6px);
 -webkit-backdrop-filter: blur(6px);
 border-radius: var(--box-radius);
 margin: .5rem 0 .8rem 0;
 list-style: none;
 z-index: 10;
}

nav > ul > li {
 height: 100%;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: var(--box-radius);
}

nav > ul > li:first-of-type {
 height: auto;
 justify-content: space-evenly;
 padding-right: .6rem;
}

nav > ul > li:first-of-type > h1 {
 font-weight: 650;
}

.nav-dp {
 width: 3.2rem;
 height: 3.2rem;
 display: flex;
 align-items: center;
 justify-content: center;
 border-radius: var(--box-radius);
 margin-left: -.2rem;
}

.switch-toggle {
 width: 3rem;
 height: 3rem;
 display: flex;
 align-items: center;
 justify-content: center;
 background: rgba(25, 25,  25, 0.08);
 backdrop-filter: blur(5px);
 -webkit-backdrop-filter: blur(5px);
 border: none;
 border-radius: var(--box-radius);
}

.switch-toggle > div {
 width: 1.4rem;
 height: 1.4rem;
 background-color: var(--text-color);
 border-radius: 50%;
}

main,
footer {
 width: 100vw;
 display: flex;
 flex-direction: column;
 align-items: center;
}

section {
 width: 88%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 color: var(--text-color);
 padding: 1rem 6%;
 scroll-margin: 2rem 0;
 margin: 2.5rem 0;
}

.section-headtag {
 height: 2rem;
 align-self: flex-start;
 display: flex;
 align-items: center;
 justify-content: center;
 margin-top: 1.5rem;
}
.section-headtag > h3 {
 font-weight: 260;
 margin-right: .6rem;
}

.section-headtitle {
 align-self: flex-start;
 font-size: 2.2rem;
 font-weight: 340;
 margin-bottom: 1.5rem;
}

.section-headtitle + p {
 align-self: flex-start;
 margin-bottom: 1.8rem;
}

.hero-section {
 min-height: 90vh;
 align-items: center;
 justify-content: center;
 background-color: var(--bg-color);
 background-image: linear-gradient(rgba(255, 255, 255, 0.010) .080rem, transparent .080rem), linear-gradient(90deg, rgba(255, 255, 255, 0.010) .080rem, transparent .080rem);
 background-size: 40px 50px;
 position: relative;
 padding-top: 1.8rem;
 margin-top: 0;
}

.hero-section > div {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 justify-content: center;
 text-align: left;
}

.hero-section .hand-wrapper {
 position: absolute;
 top: 0;
 padding: 0;
 transform-style: preserve-3d;
 perspective: 500px;
}
.hero-section .hand-wrapper img {
 width: 13rem;
 height: 8rem;
 transform-origin: bottom center;
 transform: rotateX(180deg) rotate(70deg);
 margin-top: -7rem;
 margin-left: -7.3rem;
 z-index: 0;
 animation: waving 2s linear infinite;
}

.hero-section  h1 {
 font-size: 3rem;
 font-weight: 600;
 line-height: 3.8rem;
 z-index: 2;
 margin: 2rem 0 .4rem 0;
}
.hero-section h2 {
 font-size: 1.8rem;
 margin-bottom: 1.7rem;
}

.hero-section span {
 color: var(--sclr);
}
.hero-section a {
 color: var(--text-color);
 border-bottom: 0.060rem solid var(--text-color);
 margin-top: 2rem;
}


.about-section-info,
.about-section-brief {
 width: 90%;
 height: auto;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 text-align: center;
 padding: 1rem 5%;
 background-color: var(--shade);
 background-image: var(--shade);
 border-radius: var(--box-radius);
 margin-top: 2rem;
}

.about-section-brief {
 height: 36.5rem;
 gap: 1rem;
}

.about-section-brief > div {
 width: 100%;
 height: 70%;
 object-fit: cover;
 background-color: rgba(0, 0, 0, 0.10);
 border-radius: var(--box-radius);
 
 &:hover img {
  transform: scale(0.96);
 }
}

.about-section-brief > div img {
 width: 100%;
 height: 100%;
 object-fit: cover;
 border-radius: var(--box-radius);
 margin-top: -2rem;
 transition: 400ms;
}

.about-section-brief > ul {
 width: 88%;
 height: fit-content;
 max-height: 30%;
 display: flex;
 flex-direction: column;
 align-items: flex-start;
 padding: 1rem 6%;
 gap: .5rem;
 background-color: rgba(0, 0, 0, 0.10);
 border-radius: var(--box-radius);
 list-style: none;
}
.about-section-brief > ul li {
  text-align: left;
  font-family: 'Fredoka';
}
.about-section-brief strong {
 margin-right: .4rem;
}
 
.about-section-info p {
 margin-bottom: 1rem;
}


.services-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem 4rem;
  margin-top: 4rem;
}

.services-container > div {
  width: 95%;
  height: 15rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-bottom: 0.1rem solid var(--shade);
}

.services-container > div > h2 {
 align-self: flex-start;
 font-size: 2.1rem;
 font-weight: 400;
 margin-top: -2rem;
 margin-bottom: 2rem;
}



.projects-container {
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 2rem; 
  margin-top: 2rem;
}

.project-box {
  width: 82%; 
  max-width: 20rem;
  min-height: 28rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1.2rem;
  gap: 1rem;
  background-color: var(--shade);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
  border: 0.1rem solid var(--shade);
  border-radius: var(--box-radius);
}

.project-image {
 width: 100%;
 height: 12rem;
 display: flex;
 align-items: center;
 justify-content: center;
 object-fit: cover;
 background-color: var(--bg-color);
 border-radius: .6rem;
 margin-bottom: .8rem;
}
.project-image > img {
 width: 100%;
 height: 100%;
 border-radius: .6rem;
}


.project-info {
 width: 100%;
 min-height: 12rem;
 height: auto;
}
.project-info > h2 {
 font-size: 2rem;
 margin-bottom: .8rem;
}
.project-info > p {
 font-size: .95rem;
}

.project-stacks {
 width: 100%;
 min-height: 2.5rem;
 height: auto;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 gap: .4rem;
 margin: 1rem 0;
}

.project-stacks .stack {
 width: auto;
 padding: .3rem 1rem;
 color: var(--text-color);
 font-size: .8rem;
 background-color: var(--bg-color);
 border-radius: var(--box-radius);
 transition: 300ms;
}
.project-stacks .stack:hover {
 transform: scale(1.1);
}

.project-cta {
 width: 100%;
 display: flex;
 align-items: center;
 justify-content: space-between;
 list-style: none;
 margin-block: 2.5rem .5rem;
}
.project-cta li a {
 font-weight: 300;
 padding: .8rem;
 color: var(--sclr);
 background-color: rgba(50, 50, 50, .1);
 border-radius: .8rem;
}

.view-more-btn {
 color: var(--sclr);
 font-size: 1.1rem;
 font-family: 'Poppins', Sans-Serif;
 padding: .8rem 1.2rem;
 background-color: var(--shade);
 border: none;
 border-radius: .8rem;
 margin-block: 2rem;
}

.resume-tags {
 width: 100%;
 align-self: flex-start;
 font-weight: 600;
 margin: 2rem 0 1rem 0;
}

.tools-container {
 width: 100%;
 display: flex;
 flex-wrap: wrap;
 align-items: center;
 justify-content: space-between;
 gap: 2rem;
}

.tools-container > div div {
 width: 9rem;
 height: 4rem;
 display: flex;
 flex-direction: row;
 align-items: center;
 justify-content: center;
 gap: 1rem;
 border: 0.1rem solid var(--shade);
 border-radius: var(--box-radius);
 transition: 200ms;
}

.tools-container > div div h3 {
 text-align: center;
}



.contacts-container {
 width: 100%;
 display: flex;
 flex-direction: column;
 align-items: center;
 gap: 1rem;
 margin-top: 1rem;
}

.contact-div {
 width: 90%;
 height: 4rem;
 display: flex;
 align-items: center;
 justify-content: space-between;
 gap: 1rem;
 padding: 0 5%;
 border: 0.1rem solid var(--shade);
 border-radius: var(--box-radius);
 transition: 200ms;
}
.contact-div:hover {
 transform: scale(0.9);
}


footer > div {
 width: 100%;
 height: 5rem;
 display: flex;
 flex-direction: column;
 align-items: center;
 justify-content: center;
 gap: .6rem;
 color: var(--text-color);
 margin: 3rem 0 1rem 0;
}




@media (min-width: 726px) {
  .hero-section p {
   width: 70%;
  }
  .hero-section > div {
   align-items: flex-start;
   text-align: left;
  }
  
  
  .about-section-brief {
   height: 24rem;
   flex-direction: row;
   padding: 2rem 4%;
  }
  .about-section-brief > div {
   height: 100%;
  }
  .about-section-brief ul {
   height: 87%;
   padding: 0 5%;
   padding-top: 3rem;
   max-height: 100%;
   gap: 2rem;
  }
  
  .services-container {
   justify-content: space-evenly;
  }
  
  .about-section-info {
   height: 20rem;
   align-items: center;
   justify-content: space-between;
   gap: 2rem;
  }
  .about-section-info > div {
   margin-bottom: 1.5rem;
  }
  
  .services-container > div {
   width: 37%;
  }
  
  .projects-container {
   justify-content: space-evenly;
   gap: 2.5rem;
  }
  
  .project-box {
   min-height: 28rem;
   max-height: 32rem;
   overflow: hidden;
  }
  
  
  .tools-container > div {
   width: 10rem;
   height: 4.5rem;
  }
  
  .contacts-container {
   width: 100%;
   justify-content: space-between;
   flex-direction: row;
   flex-wrap: wrap;
  }
  .contacts-container > div {
   width: 37%;
  }
}
