:root {
 --text-color: rgb(220, 220, 220);
 --bg-color:  rgb(10, 10, 14);
 --shade: rgb(15, 20, 30)/*rgb(14, 14, 18)*/;
 --sclr: rgb(40, 60, 140)/*rgb(138, 43, 226)*/;
 --box-radius: 1rem;
}


.light {
  --text-color: rgb(55, 55, 55);
  --bg-color: rgb(240, 245, 255);
  --shade: rgb(210, 225, 245)/*rgb(230, 230, 250)*/;
  --sclr: rgb(135, 140, 240);
  --box-radius: 1rem;
}


@keyframes marquee-animation {
  0% {
    transform: translateX(50%);
  }
  100% {
    transform: translateX(-50%);
  }
}


@keyframes dim {
 50% {
  background-color: var(--bg);
 }
}

@keyframes quick-zoom {
 50% {
  background-color: var(--sclr);
  transform: scale(1.1);
 }
}

@keyframes float {
 50% {
  transform: translateY(-1rem);
 }
}