:root {
 --text-color: rgb(220, 220, 220);
 --bg-color:  rgb(14, 14, 16);
 --shade: rgb(22, 22, 26);
 --sclr: rgb(30, 40, 120);
 --box-radius: .6rem;
}


.light {
  --text-color: rgb(50, 50, 50);
  --bg-color: rgb(240, 245, 255);
  --shade: rgb(215, 225, 250);
  --sclr: rgb(135, 140, 255);
  --box-radius: 1rem;
}



@keyframes waving {
 50% {
   transform: rotateX(180deg) rotate(90deg);
 }
}

@keyframes dim {
 50% {
  background-color: var(--bg);
 }
}

@keyframes quick-zoom {
 50% {
  background-color: var(--sclr);
  transform: scale(1.1);
 }
}
