.intro-div {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-block: 6rem -4rem;
}

.intro-div h1 {
  font-size: 2rem;
  text-align: center;
  margin-top: 1rem;
}

.project-overview {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.project-overview h1 {
  font-size: 1.8rem;
}

.project-overview img {
  width: 100%;
  border: .080rem solid var(--shade);
  border-radius: var(--box-radius);
}

.quick-action {
  display: flex;
  gap: 1rem;
  margin-block: 1rem;
}

.quick-action a,
.quick-action div {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: .5rem;
  color: var(--text-color);
  padding: .7rem .8rem;
  background-color: var(--shade);
  border-radius: var(--box-radius);
}
.quick-action div {
  filter: opacity(60%);
}

.project-description {
  margin-bottom: 1rem;
}

.project-details {
  width: 88%;
  padding-inline: 6%;
  background-color: var(--shade);
  border-radius: var(--box-radius);
  margin-block: 2rem;
}

.project-details p {
  margin-top: .5rem;
}

.info-seperator {
  padding-bottom: 1rem;
  border-bottom: .060rem solid var(--bg-color);
  margin-block: 2rem;
}
.info-seperator:last-of-type {
  border-bottom: none;
}

.project-technologies {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: .8rem;
  padding-top: .8rem;
}

.project-technologies > div {
  font-size: .8rem;
  padding: .2rem .6rem;
  background-color: var(--sclr);
  border-radius: 1rem;
  transition: 300ms;
}

.project-technologies >  div:hover {
 transform: scale(1.1);
}

.project-images {
  display: flex;
  flex-wrap: wrap;
  align-items: center; 
  gap: .8rem;
  padding-top: .8rem;
}


@media (min-width: 726px) {
 .project-images img {
  width: 20rem;
  height: 14rem;
 }
}