/* Seperate file scoped styling for font related font-style */

.fontStyle {
 font-family: 'Poppins';
 font-weight: 400;
}

.fontStyle h1,
.fontStyle h2,
.fontStyle h3,
.fontStyle h4,
.fontStyle h5,
.fontStyle h6 {
 font-family: 'Fredoka';
}